/* === Editables === */
.editable {
    background: rgba(50, 50, 255, 0.03);
    border: 1px dotted #BBB;
    outline: 1px dotted #777;
}
.editable:hover {
    background: rgba(50, 50, 255, 0.06);
    border: 1px dotted #AAA;
    outline: 0;
}

/* === DropBox Zone === */
.dropZone {    
    color: #555;
    font-size: 14px;
    text-align: center;    
    
    width: 300px;
    padding: 5px 0;
    margin: 0 25px 25px 0;
    
    background: #fdfdfd;
    border: 1px solid #9c9;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.dropZone.hover {
    background: #9d9;
    border-color: #7a7;
}
.dropZone.error {
    background: #faa;
    border-color: #f00;
}
.dropZone.drop {
    background: #afa;
    border-color: #0f0;
}

/* columns */
.col {  float: left; width: 280px; margin: 0 25px 40px 0; display: inline; }
.col a { margin-left: 15px; }
.col b { background: #f2f2f2; border-radius: 5px; padding: 4px 35px 0 10px; }

.gallerys .ear { 
    background: #eee; 
    padding: 0 25px 0 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.gallerys .ear i { padding-left: 5px; }
