#content div#section div span {
	font-size: 13px;
	margin-top: 37px;
}
#content div table tr td label.email {
	margin-left: 110px;
}
#content div div span {
	top: 346px;
}
#footer div div div a {
	margin-left: 43px;
}
