.editable {
    background: rgba(50, 50, 255, 0.03);
    border: 1px dotted #BBB;
    outline: 1px dotted #777;
}
.editable:hover {
    background: rgba(50, 50, 255, 0.06);
    border: 1px dotted #AAA;
    outline: 0;
}
