.gallery{
	padding:20px 0 30px 0;
	position:relative;
	margin:0 auto 0;
	display:block;
	width:960px;
	}

.wrapper .gallery h2{
	display:block;
	text-align:left;
	margin:0 0 20px 0;
	padding:0;
	color:#2C2C2C;
	background-color:#444;
	font-size:45px;
	text-transform:uppercase;
	line-height:normal;
	}

.gallery ul{
	display:inline;
	margin:0;
	padding:0;
	list-style:none;
	}

.gallery ul li{
	display:block;
	float:left;
	margin:0 10px 10px 0;
	}

.gallery ul li img{
	width:174px;
	height:174px;
	padding:4px;
	border:1px solid #AAA;
	}

.gallery ul li.last{margin-right:0;}

.gallery .delete, .gallery .move-right{ 
	width:16px; 
	height:16px;
	padding:0;
	border:0;
	}
