* { margin: 0; padding: 0; outline:0; }
@font-face {
  font-family: 'simpleness';
  font-style: normal;
  font-weight: normal;
  src: local('simpleness'), url('/fonts/simpleness.woff') format('woff');
}
body {
    font-size: 14px;
    line-height: 16px;
    font-family: Georgia, Helvetica, Sans-Serif;
    color: #5b5b5b;
    background: #ece9dd;
    max-width:900px;
}

a { color: #da0700; text-decoration: underline; cursor:pointer; }
a:hover { text-decoration: none; }
a img { border: 0; }

input, textarea, select { font-size: 14px; font-family: Arial, Helvetica, sans-serif; max-width:200px; }
textarea { overflow: auto; }
fieldset { border:0; }

h1, h2, h3, h4 { font-family: simpleness, Georgia, Serif; font-weight:normal; }
h1 { color:#222325; font-size:20px; line-height:16px; padding-bottom:5px; }
h2 { color:#222325; font-size:20px; line-height:16px; padding-bottom:5px; }
h3 { font-size:16px; color:#222325; line-height:16px; padding-bottom:8px; }
h4 { font-size:16px; color:#b10301; line-height:16px; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }


#shell { margin:0 auto; }
#print_button {
    display:none;
}

.big-box { background:url(/images/big-box-middle.gif) repeat-y; height:100%;}
.big-box .bg-top { background:url(/images/big-box-top.gif) top no-repeat;}
.big-box .bg-bottom { background:url(/images/big-box-bottom.gif) bottom no-repeat; }
.big-box .bg-bottom { padding:20px; }

/* Header */
#header .bg-bottom { padding:20px 14px 16px 20px; height:100%; }
#header .bg-bottom-right { padding-bottom:12px; float: right; }
#header h1 { font-color:#995555; }

/* Navigation */
#navigation { 
    padding:5px 0 7px 1px; 
    position:relative;  
    z-index:10;  
    font-family: simpleness, Georgia, Helvetica, Sans-Serif;
}
#navigation ul { list-style:none; }
#navigation ul li { float:left; font-size:16px; line-height:32px; position:relative; }
#navigation ul li a,
#navigation ul li a span { float:left; background-position:left top; }
#navigation ul li a {  color:#847d62; text-decoration:none; padding-left:5px; }
#navigation ul li a span { padding:0 16px 0 11px; background-position:right top;}


#navigation ul li a.active,
#navigation ul li a.active span,
#navigation ul li a:hover,
#navigation ul li a:hover span { color:#fff; background-image:url(/images/navigation-active.gif); }

#navigation ul li.has-dd a span { padding:0 26px 0 11px; background:url(/images/navigation-dd-arrow.gif) right top no-repeat; }
#navigation ul li.has-dd a.active span,
#navigation ul li.has-dd a:hover span { background-image:url(/images/navigation-active-dropdown.gif);  }

#navigation .dd { position:absolute; top:42px; left:0; background:#ece9dd; border:1px solid #847d62; display:none; padding:4px; }

#navigation .dd li { float:none; display:block; font-size:14px; line-height:16px;  border-bottom:1px solid #847d62; }
#navigation .dd li a { float:none; display:block; padding:5px 0;  white-space:nowrap; height:100%; }
#navigation .dd li a.active, 
#navigation .dd li a:hover { background:none; color:#000; }
#navigation .dd li.last  { border-bottom:0; }


/* Boxes */
#main .bg-bottom { padding-bottom:12px; }

.text-block { padding-left:12px; }

.box { float:left; width:262px; margin:0 62px 28px 0; }
.last { margin-right:0 !important; }

#content { width:613px; margin-right:35px; }

/* Footer */
#footer { padding:10px 0;}
#footer p { color:#8c8772; font-size:12px; text-align:right; }
#footer a { color:#8c8772; text-decoration:none; }
#footer a:hover { text-decoration:underline; }


ul.dropdown ul {
 visibility: hidden;
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 598;
 width: 100%;
}
ul.dropdown ul li {
 float: none;
 padding: 5px 5px;
 width: 150px;
 background: #ece9dd;
 border-width: 1px 1px 1px 0;
 border-style: solid;
 border-color: #fff #d9d9d9 #d9d9d9;
}
ul.dropdown ul ul {
 top: 1px;
 left: 99%;
}
ul.dropdown li:hover > ul {
 visibility: visible;
}
ul.dropdown *.dir {
 padding-right: 5px;
 background-image: url(/images/btn_arrow_down.png);
 background-position: 100% 50%;
 background-repeat: no-repeat;
}
ul.dropdown-horizontal ul *.dir {
 background-image: url(/images/btn_arrow_right.png);
 background-position: 100% 50%;
 background-repeat: no-repeat;
}

/* ----------------------------------------------Gallery-------------------------------------*/

.gallery{
	padding:20px 0 30px 0;
	position:relative;
	margin:0 auto 0;
	display:block;
	}

.wrapper .gallery h2{
	display:block;
	text-align:left;
	margin:0 0 20px 0;
	padding:0;
	color:#2C2C2C;
	background-color:#444;
	font-size:20px;
	text-transform:uppercase;
	line-height:normal;
	}

.gallery ul{
	display:inline;
	margin:0;
	padding:0;
	list-style:none;
	}

.gallery ul li{
	display:block;
	float:left;
	margin:0 5px 5px 0;
	}

.gallery ul li img{
	width:87px;
	height:87px;
	padding:2px;
	border:1px solid #AAA;
	}

.gallery ul li.last{margin-right:0;}


